# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Database
# instance/
# *.db

# Node/Vue
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
*.log